langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph
langchain-google-genai
google-genai
fastapi
uvicorn
streamlit
python-multipart
pydantic
requests
youtube-transcript-api