# LangChain
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-openai
langgraph

# Google / Gemini
google-genai

# Vector search
faiss-cpu

# Document parsing
pypdf
pymupdf
python-docx
docx2txt
pandas
openpyxl

# Backend
fastapi
uvicorn
python-multipart
pydantic

# Frontend
streamlit

# External tools
requests
youtube-transcript-api
duckduckgo-search
ddgs

# Database
pymongo
dnspython

# Environment variables
python-dotenv
